body {
	margin: 0;
	background-color: #ECEFF1;
}



.bg-dark {
	background-color: #0091EA !important;
}

.navbar-light {
	background-color: white !important;
}

.navbar-toggler {
	color: #757575 !important;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
	margin-right: 40px;
	color: #0091EA !important;
	font-family: 'OpenSans-SemiBold';
}

.navbar-nav .nav-link {
	color: #9E9E9E !important;
}

.navbar-nav .nav-link:hover {
	color: #616161 !important;
	transition: 0.5s !important;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	color: #616161 !important;
}



.row {
	margin-top: 30px;
}

.first {
	margin-top: 80px;
}

.last {
	margin-bottom: 80px;
}

.col-md-5 {
	padding: 20px 20px;
	-webkit-box-shadow: 0 7px 6px -6px #999;
	-moz-box-shadow: 0 7px 6px -6px #999;
	box-shadow: 0 7px 6px -6px #999;
	background-color: white;
}

.col-md-5 iframe {
	margin-top: 10px;
}

.col-md-5 label {
	font-family: 'OpenSans-SemiBold';
	color: #0091EA;
	font-size: 16pt;
}